body {
    height: 100%;
    width: 100%;
}

.background {
    content: "";
    background-image: url(lock.png);
    text-align: center;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

h4 {
    font-family: monospace;
    font-size: 2.5vw;
}

.navigation {
    width: 100w;
    text-align: center;
    margin-bottom: 2vw;
    height: 10vh;
}

a {
    position: relative;
    top: 3vh;
    font-family: monospace;
    font-size: 2vw;
    color: black;
    text-decoration: none;
    background-color: white;
    border: 0.5vw solid #59AEA8;
    border-radius: 5vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    margin: 2vw;
}

a:hover {
    background-color: #74E2DB;
}


#input {
    padding: 0.5vw;
    border: 0.05vw solid #59AEA8;
    font-size: 1.5vw;
    margin: 1vw;
    width: 40vw;
}

#shift-number {
    padding: 0.5vw;
    border: 0.05vw solid #59AEA8;
    font-size: 1.5vw;
    margin: 1vw;
    width: 5vw;
}

#submit {
    margin: 0.5vw;
    font-size: 2vw;
}

.box {
    border: 2vw solid #59AEA8;
    border-radius: 15px;
    background: linear-gradient(to right, #B2FFFB,#74E2DB);
    width: 75vw;
    text-align: center;
    position: relative;;
    z-index: 1000;
    display: inline-block;
    top: 10%;
    left: 50%;
    margin-left: -39.5vw;
}

#message {
    font-family: monospace;
    font-size: 3vw;
    max-width: 100%;
}